[submodule "themes/delic"]
	path = themes/delic
	url = git@github.com:9renpoto/delic.git
[submodule "9renpoto.github.io"]
	path = 9renpoto.github.io
	url = git@github.com:9renpoto/9renpoto.github.io.git
